style.
  body {
    background-color: #333333;
    padding: 2rem
  }
  .container {
    font-family: arial;
    width: 100%;
    text-align: center;
  }
  .message {
    color: #FFFFFF;
    font-size: 1.5em;
  }
head
  title Discogs
  link(rel="stylesheet" href='https://unpkg.com/purecss@1.0.0/build/pure-min.css')
  body
    div(class='container')
      img(src='https://www.discogs.com/images/brand/discogs-logo-white.svg' style='width:50%;')
      p(class='message') #{message}