body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 3rem;
}

h1 {
  font-size: 1.5em;
}

pre {
  margin: 0.5em;
}
